<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wp-content/uploads/revista-digital/build/
  
  # Permite acceder a archivos y directorios existentes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirige todo lo demás a index.html para que React maneje las rutas
  RewriteRule ^(.*)$ index.html [L,QSA]
</IfModule>
